{% load i18n %}{% trans "Hi" %} {{name|capfirst}},
<br><br>
{% blocktrans %}Thank you for RSVP to {{event_name}}.{% endblocktrans %}
<br><br>
{% blocktrans %}We look forward to see you there.{% endblocktrans %}
<br><br>
Follow the conversation <a href="http://twitter.com/3foldevent">@3foldevent</a>