{% extends 'event/event_meta.html' %}{% load i18n event_tags %}
{% block navigation %}{% event_nav %}{% endblock navigation %}

{% block main %}
	
	
<div class="row-fluid">
	<div class="span9">
		<h1>{% trans "Archive" %} / 
					{% if day %}
						{{selected_date|date:'l dS, F Y'}}
					{% elif month %}
						{{selected_date|date:'F Y'}}
					{% else %}
						{{selected_date|date:'Y'}}
					{% endif %}
		</h1>
		{% for event in events %}
			<div class="event-list-item">
				<h2><a href="{{event.get_absolute_url}}">{{event.translated.title}}</a></h2>
				<p>{{event.translated.content|striptags|truncatewords:50|safe}}</p>
				<p>{% trans "Starts" %}: {{event.start_date|date:'d F Y'}}</p>
				<p>{% trans "Ends" %}: {{event.end_date|date:'d F Y'}}</p>
			</div>
		{% endfor %}
	</div>
	<div class="span3">
		<p>{% trans "Categories" %}</p>
		{% event_categories %}
		<p>{% trans "Archive" %}</p>
		{% event_archive %}
	</div>
	
</div>

{% endblock main %}