{% extends 'event/event_meta.html' %}{% load i18n event_tags %}
{% block navigation %}{% event_nav %}{% endblock navigation %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'event:categories' %}">{% trans "Categories" %}</a>
</ul>
{% endblock %}
{% block main %}
	{% event_categories %}
{% endblock main %}
