{% extends 'event/event_meta.html' %}{% load i18n event_tags thumbnail %}
{% block navigation %}{% event_nav %}{% endblock navigation %}
{% block main %}
<div class="row-fluid">
	<div class="span9">
		
		<ul class="breadcrumb">
			<li><a href="{% url 'event:upcoming' %}">{% trans "Events" %}</a> <span class="divider">/</span></li>
			<li>{{event.translated.title}}</li>
		</ul>
		{% if event.feature_image %} <img src="{{event.feature_image.url}}" alt="">{% endif %}
		<h1>{{event.translated.title}}</h1>
		
		<p class="date">{% trans "Date" %}: {{event.start_date}} - {{event.end_date}}</p>
		
		{% if event.location %}<p class="location">{% trans "Location" %}: {{event.location}}</p>{% endif %}
		
		<p class="link"></p>
		
		{% if event.links %}<p class="links">{% trans "Links" %}: {% for link in event.links %}<a href="{{link.url}}">{{link.link_name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
		
		{% if event.speakers %}<p class="speakers">{% trans "Speakers" %}: {% for speaker in event.speakers %}{% if speaker.url %}<a href="{{speaker.url}}" target="_blank">{{speaker}}</a>{% else %}{{speaker}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
		
		{% if event.attendees %}<p class="attendees">{% trans "Attendees" %}: {% for attendee in event.attendees %}{% if attendee.url %}<a href="{{attendee.url}}" target="_blank">{{attendee}}</a>{% else %}{{attendee}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
		{{event.translated.content|safe}}
		
		<p class="categories">{% trans "Categories" %}: {% for category in event.published_from.categories.all %}<a href="{{category.get_absolute_url}}">{{category.translated.title}}</a>{% if not forloop.last %},{% endif %} {% endfor %}</p>
		
		{% for image in event.images %}
			{% thumbnail image.image "100x100" crop="center" as im %}
			    <a href="{{image.image.url}}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
			{% endthumbnail %}
		{% endfor %}
		
	</div>
	<div class="span3">
		
		<p>{% trans "Categories" %}</p>
		{% event_categories %}
		
		<p>{% trans "Archive" %}</p>
		{% event_archive %}
		
	</div>
</div>
{% endblock main %}
