{% extends 'event/event_meta.html' %}{% load i18n event_tags %}
{% block navigation %}{% event_nav %}{% endblock navigation %}
{% block main %}
<div class="row-fluid">
	<div class="span9">
		{% if type == 'upcoming' %}<h1>{% trans "Upcoming events" %}</h1>{% endif %}
		{% if type == 'past' %}<h1>{% trans "Past events" %}</h1>{% endif %}
		{% for event in events %}
			<h2><a href="{{event.get_absolute_url}}">{{event.translated.title}}</a></h2>
			<p class="date">{{event.start_date}}</p>
			<p>{{event.translated.content|striptags|truncatewords:"50"}} <a href="{{event.get_absolute_url}}">{% trans "Read more" %}</a> </p>
		{% endfor %}
	</div>
	<div class="span3">
		<ul class="nav nav-list nav-left">
			<li class="{% if request.path == '/events/' %}active{% endif %}">
				<a href="{% url 'event:upcoming' %}">{% trans "Upcoming events" %}</a>
			</li>
			<li class="{% if request.path == '/events/past/' %}active{% endif %}">
				<a href="{% url 'event:past' %}">{% trans "Past events" %}</a>
			</li>
		</ul>
		<p>{% trans "Categories" %}</p>
		{% event_categories %}
		
		<p>{% trans "Archive" %}</p>
		{% event_archive %}
	</div>
	
</div>
{% endblock main %}
