{% load i18n %}
<ul class="archive years nav nav-list">
{% for year in archive %}
	{% if show_empty or year.article_count > 0 %}
	<li {% if request.path == year.get_absolute_url %}class="active"{% endif %}><a href="{{year.get_absolute_url}}">{{year}}{% if show_count %} ({{year.article_count}}){% endif %}</a>
		<ul class="months">
		{% for month in year.months %}
			{% with month.events as events %}
				{% if show_empty or events %}
				<li {% if request.path == month.get_absolute_url %}class="active"{% endif %}><a href="{{month.get_absolute_url}}">{{month}}{% if show_count %} ({{month.event_count}}){% endif %}</a>
					{% if events and show_events %}<ul>
						{% for event in events %}
							<li><a href="{{event.get_absolute_url}}">{{event}}</a></li>
						{% endfor %}
					</ul>{% endif %}
				</li>{% endif %}
			{% endwith %}
		{% endfor %}
		</ul>
	</li>
	{% endif %}
{% endfor %}
</ul>