{% load i18n %}
<div class="calendar">
	<div class="cal-header">
		<div class="row-fluid">
			<a class="pull-left previous" href="{{prev}}"><i class="icon-chevron-left icon-white"></i> {% trans "Previous" %}</a>
			<a class="pull-right next" href="{{next}}">{% trans "Next" %} <i class="icon-chevron-right icon-white"></i></a>
			<div class="title">{{current_month}} {{year}}</div>
		</div>
	</div>
	<table width="100%" class="calendar" cellpadding="0" cellspacing="0">
	<tr>
		<td width="14.285%" class="day-week first">{% trans "Sun" %}</td>
		<td width="14.285%" class="day-week">{% trans "Mon" %}</td>
		<td width="14.285%" class="day-week">{% trans "Tue" %}</td>
		<td width="14.285%" class="day-week">{% trans "Wed" %}</td>
		<td width="14.285%" class="day-week">{% trans "Thu" %}</td>
		<td width="14.285%" class="day-week">{% trans "Fri" %}</td>
		<td width="14.285%" class="day-week">{% trans "Sat" %}</td>
	</tr>
	{% for week in grid %}
	<tr>
		{% for day in week %}
		
		<td width="14.285%" valign="top" class="day {% if day.0 %}day-month {% endif %}{% if day.1 %}cal-event {% else %}{% if day.3 %}cal-today{% endif %}{% endif %}">{% if day.0 %}<a href="{% url 'event:archive_day' year month day.0 %}">{{day.0}}</a>{% endif %}
			{% if day.1 %}
				{% for event in day.1 %}
				<a href="{{event.get_absolute_url}}">{{event.title}}</a>
				{% endfor %}
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>