{% load i18n mptt_tags %}
<ul class="categories nav nav-list">{% recursetree categories %}
	<li {% if request.path == node.get_absolute_url %}class="active"{% endif %}>
		<a href="{{node.get_absolute_url}}">{{node.translated.title}}</a>
		{% if not node.is_leaf_node %}
			<ul class="children">
				{{ children }}
			</ul>
		{% endif %}
	</li>
{% endrecursetree %}
</ul>