{% load i18n %}

{% if event.rsvp_remaining > 0 %}
<form method="POST" action="{% url 'event:rsvp-submit' %}" id="form-rsvp">{% csrf_token %}
	<div class="alert alert-info">{% blocktrans with event.rsvp_remaining as remaining %}Hurry! Only <strong>{{remaining}}</strong> places left.{% endblocktrans %}</div><br>
	{% for field in form %}
	{% if field.is_hidden %}
		{{field}}	
	{% elif field.auto_id == 'id_status' %}
		
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<p><label for="{{field.auto_id}}">{{field.label}}</label></p>
					
					{% for radio in field %}
					<div class="radio">
						{{radio}}
					</div>
					{% endfor %}

				</div>
				<div class="col-md-6">
					
				</div>
			</div>
			
		</div>
	{% else %}
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<label class="sr-only" for="{{field.auto_id}}">{{field.label}}</label>
					{{field}}
				</div>
				<div class="col-md-6">
					
				</div>
			</div>
			
		</div>
	{% endif %}
	{% endfor %}
	<input class="btn btn-primary btn-lg submit" type="submit" value="{% trans "Send" %}" name="submit" id="submit" />
</form>
{% else %}
<div class="alert alert-info">{% blocktrans with event.rsvp_remaining as remaining %}Unfortunately, all available places have been taken.<br><a href="mailto:{{EVENT_CONTACT_EMAIL}}">Email us</a> if you still wish to attend.{% endblocktrans %}</div>
{% endif %}